.advantage {
  min-height: 473px;
  padding: 73px 0 65px;
  background: #f6f6f6;
  &__header {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #0d0d0d;
  }
  &__wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  &__block {
    width: 277px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &__descr {
    margin-top: 35px;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #0d0d0d;
  }
  &__text {
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #0d0d0d;
    span {
      text-decoration: underline;
      color: $main-color;
      text-transform: uppercase;
    }
  }
}
