.carousel {
  padding: 81px 0;
  &__inner {
    position: relative;
    width: 750px;
    margin: 0 auto;
    background: $second-color;
    button {
      border: none;
      background: $second-color;
    }
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    img {
      width: 30px;
      height: 50px;
    }
  }
  .slick-next {
    right: -66px;
    left: auto;
  }
}
