.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
  input {
    padding: 0 20px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: $second-color;
    font-weight: 300;
    font-size: 14px;
    color: #4b4b4b;
    margin-bottom: 15px;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
}
