.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 250px;
    img {
      width: 100%;
    }
  }
  &__official {
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    span {
      display: block;
      font-size: 18px;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    a {
      text-decoration: none;
    }
    :hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__phone {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
  }
}
